kubectl create secret generic cloudsql-instance-credentials --from-file=credentials.json=
kubectl create secret generic cloudsql-db-credentials --from-literal=username=
kubectl create secret generic cloudsql-mysql-host --from-literal=mysqlhost=
kubectl create secret generic cloudsql-pg-host --from-literal=
kubectl create secret generic cloudsql-pg-user --from-literal=pguser=
kubectl create secret generic cloudsql-pg-database --from-literal=pgdatabase=
kubectl create secret generic cloudsql-pg-password --from-literal=pgpassword=
kubectl create secret generic cloudsql-redis-host --from-literal=redishost=
kubectl create secret generic cloudsql-redis-port --from-literal=redisport=
kubectl create secret generic cloudsql-elasticsearch-host --from-literal=elasticsearchhost=
kubectl create secret generic cloudsql-elasticsearch-port --from-literal=elasticsearchport=
kubectl create secret generic cloudsql-basic-auth-user-name --from-literal=basicauthusername=
kubectl create secret generic cloudsql-basic-auth-password --from-literal=basicauthpassword=
